<div class="flex flex-col w-full gap-4 ml-4 mt-5">
  <div class="flex gap-4 w-full">
    <div style="background: #ffffff;">
      <mat-card class="w-full overflow-hidden mx-auto">
        <mat-card-content class="mt-1">
          <h1 class="card-header" [ngStyle]="{'color':'black','font-size':'1.3rem'}">
            Heart & Cardiovascular
          </h1>
          <p class="card-header" [ngStyle]="{'color':'black','font-size':'1rem'}">
            At UCLA Health, we partner with families to deliver expert, compassionate care to infants, children and teens.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
