<mat-card class="w-fit max-w-full overflow-hidden card-shadow">
  <mat-card-content class="!py-2">
    <div class="flex items-center gap-1">
      <a href="#" class="text-[1rem] font-bold  px-4 py-[1rem] inline-block rounded-md transition-colors duration-200 hover:bg-blue-50" style="color: #2774ae;">
        About the Medical Center
      </a>
      <a href="#" class="text-[1rem] font-bold  px-4 py-[1rem] inline-block rounded-md transition-colors duration-200 hover:bg-blue-50" style="color: #2774ae;">
        For Patient & Visitors
      </a>
      <a href="#" class="text-[1rem] font-bold  px-4 py-[1rem] inline-block rounded-md transition-colors duration-200 hover:bg-blue-50" style="color: #2774ae;">
        Health Resources
      </a>
      <a href="#" class="text-[1rem] font-bold  px-4 py-[1rem] inline-block rounded-md transition-colors duration-200 hover:bg-blue-50" style="color: #2774ae;">
        Our Units & Floors
      </a>
    </div>
  </mat-card-content>
</mat-card>
