<section class="card-container">
  <div class="letter">A</div>
  <div class="custom-card">
    <div class="button-wrapper">
      <button mat-stroked-button class="custom-btn">Adolescent Epilepsy Care</button>
      <button mat-stroked-button class="custom-btn">Adult Asthma Care</button>
      <button mat-stroked-button class="custom-btn">Adult Congenital Heart Disease</button>
      <button mat-stroked-button class="custom-btn">Advanced Heart Failure</button>
      <button mat-stroked-button class="custom-btn">Allergy and Immunology</button>
      <button mat-stroked-button class="custom-btn">Alzheimer's Care</button>
      <button mat-stroked-button class="custom-btn">Aortic Care</button>
      <button mat-stroked-button class="custom-btn">Audiology</button>
      <button mat-stroked-button class="custom-btn">Adult Epilepsy</button>
    </div>
  </div>
</section>
