<div class="search-card">
  <div class="max-w-[82rem] mx-auto">
    <div class="flex items-center space-x-2 pt-6">
      <mat-icon class="yellow-icon">home</mat-icon>
      <mat-icon class="disabled-icon">arrow_right</mat-icon>
    </div>
    <div class="flex items-center justify-between mt-[4rem]">
      <p class="text-[3rem] card-header">Find a Doctor Near You</p>
      <div class="relative">
        <input class="search-input" placeholder="Search by name or speciality">
        <mat-icon class="search-icon absolute right-5 top-1/2 transform -translate-y-1/2">search</mat-icon>
      </div>
    </div>
  </div>
</div>
<div class="search-details-card">
  <div class="max-w-[82rem] mx-auto flex">
    <img [ngStyle]="{'width':'22rem','border-radius':'8px'}" src="assets/images/find-a-doctor.png" alt="">
    <div class="flex flex-col w-full gap-4">
      <div style="background: red; height: 13rem; width: 100%"></div>
      <div class="flex gap-4 w-full">
        <div style="background: blue; height: 15rem; width: 50%"></div>
        <div style="background: green; height: 15rem; width: 50%"></div>
      </div>
    </div>
  </div>
</div>
