<nav class="bg-green-900 shadow-md sticky top-0 z-50">
  <div class="max-w-[83rem] mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="hidden md:flex space-x-6">
        <span class="text-l font-bold text-white">Explore ACLA Health</span>
        <span class="text-l font-bold text-white">EmyACLAhealth</span>
        <span class="text-l font-bold text-white">News & Insights</span>
        <span class="text-l font-bold text-white">Community & Equity</span>
        <span class="text-l font-bold text-white">Contact Us</span>
      </div>

      <div class="hidden md:flex space-x-6">
        <a href="#" class="text-l font-bold text-white">310-825-2661</a>
        <a href="#" class="text-l font-bold text-white">Translate</a>
        <a href="#" class="text-l font-bold text-white">Search</a>
      </div>

      <div class="md:hidden">
        <button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>


