<nav class="bg-primary-darkest shadow-md sticky top-0 z-50 h-12">
  <div class="max-w-[77rem] mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-12 items-center">
      <div class="hidden md:flex space-x-6">
        <a href="#" class="text-[1rem] font-normal text-white">Explore LOREM Health</a>
        <a href="#" class="text-[1rem]  font-normal text-white">myLOREMhealth</a>
        <a href="#" class="text-[1rem]  font-normal text-white">News & Insights</a>
        <a href="#" class="text-[1rem]  font-normal text-white">Community & Equity</a>
        <a href="#" class="text-[1rem]  font-normal text-white">Contact Us</a>
      </div>

      <div class="hidden md:flex space-x-6 items-center">
        <a href="tel:3108252661" class="flex items-center text-[1rem] font-normal text-white space-x-1">
          <mat-icon>phone</mat-icon>
          <span>310-825-2661</span>
        </a>
        <a href="#" class="flex items-center text-[1rem] font-normal text-white space-x-1">
          <mat-icon>language</mat-icon>
          <span>Translate</span>
        </a>

        <a href="#" class="flex items-center text-[1rem] font-normal text-white space-x-1">
          <mat-icon>search</mat-icon>
          <span>Search</span>
        </a>
      </div>


      <div class="md:hidden">
        <button>
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </div>
</nav>


