<div class="relative w-full h-[65vh] bg-primary-darkest flex items-center justify-center">
  <div class="relative z-10 w-full h-full">
    <img
      src="assets/images/hero-banner.jpg"
      alt="Hero Banner"
      class="w-full h-full object-cover"
    />
    <div class="absolute inset-0 bg-gradient-to-r from-[#003b5c] via-transparent to-[#003b5c] opacity-1 pointer-events-none"></div>

    <div class="absolute inset-0 text-white px-4 ml-[6rem] mt-[2rem] pointer-events-none">
      <div class="flex items-center space-x-2 mb-[5rem]">
        <mat-icon class="yellow-icon">home</mat-icon>
        <mat-icon class="disabled-icon">arrow_right</mat-icon>
        <a href="#" class="text-[1rem] font-normal text-yellow-400">Hospitals</a>
        <mat-icon class="disabled-icon">arrow_right</mat-icon>
      </div>
      <div class="text-[4rem] leading-none" style="font-family: 'Times New Roman',serif">
        <p>Lorem Donald Trump</p>
        <p>Medical Center</p>
      </div>
      <p class="text-[2rem] pt-[4rem]">Respected around the world for research and</p>
      <p class="text-[2rem] pt-[1rem]">patient care.</p>
    </div>
    <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 translate-y-1/2 pointer-events-auto z-20">
      <breadcrumb-navigation />
    </div>
  </div>
</div>
