<div class="relative w-full h-[70vh] flex items-center justify-center overflow-hidden bg-primary-darkest">
  <div class="relative z-10  h-full">
    <img
      src="assets/images/hero-banner.jpg"
      alt="Hero Banner"
      class="w-full h-full object-cover"
    />

    <!-- Gradient Overlay on Image -->
    <div class="absolute inset-0 bg-gradient-to-r from-[#003b5c] via-transparent to-[#003b5c] opacity-1 pointer-events-none"></div>

    <!-- Centered Text & Icons -->
    <div class="absolute inset-0 flex flex-col justify-start text-white px-4 pointer-events-none ml-[9rem] mt-[2rem]">
      <div class="flex items-center space-x-2 mb-12">
        <mat-icon>home</mat-icon>
        <a href="#" class="text-[1rem] font-normal">Hospitals</a>
      </div>

      <!-- Headline -->
      <p class="text-[4rem] mb-12 leading-none">Lorem lorem lorem</p>
      <p class="text-[4rem] mb-6 leading-none">Medical Center</p>

      <!-- Subtext -->
      <p class="text-[2rem]">Respected around the world for research and patient care.</p>
    </div>

  </div>
</div>
