<div class="flex justify-center items-center">
  <div class="flex gap-6 max-w-4xl w-full">
    <div class="flex-1">
      <div class="w-full overflow-hidden mx-auto">
        <div class="mt-5">
          <h1 class="card-header text-center p-3" [ngStyle]="{'color':'black','font-size':'2rem'}">
            Why choose UCLA Health for medical help?</h1>
          <p class="card-header text-center p-4" [ngStyle]="{'color':'black','font-size':'1.2rem'}">
            When you visit UCLA Health, you’ll gain access to advanced technology, treatments, research and types of healthcare services that may not be available elsewhere. You can feel confident that you’re being treated by our world-renowned experts, who deliver compassionate, comprehensive and individualized care.</p>
        </div>
      </div>
      <mat-card class="w-full mt-3 p-1 overflow-hidden mx-auto">
        <mat-card-content>
          <p class="font-bold">Jump to Medical Services index:</p>
          <div class="flex flex-wrap gap-2 max-w-lg" style="margin: auto;">
            <div class="letter">A</div>
            <div class="letter">B</div>
            <div class="letter">C</div>
            <div class="letter">D</div>
            <div class="letter">E</div>
            <div class="letter">F</div>
            <div class="letter">G</div>
            <div class="letter">H</div>
            <div class="letter">I</div>
            <div class="letter">J</div>
            <div class="letter">K</div>
            <div class="letter">L</div>
            <div class="letter">M</div>
            <div class="letter">N</div>
            <div class="letter">O</div>
            <div class="letter">P</div>
            <div class="letter">Q</div>
            <div class="letter">R</div>
            <div class="letter">S</div>
            <div class="letter">T</div>
            <div class="letter">U</div>
            <div class="letter">V</div>
            <div class="letter">W</div>
            <div class="letter">X</div>
            <div class="letter">Y</div>
            <div class="letter">Z</div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="flex-1" style="background: #ffffff;">
      <mat-card class="w-full overflow-hidden mx-auto">
        <mat-card-content class="mt-5">
          <img src="assets/images/medical-services-landing-highlight.jpg">
          <h1 class="card-header text-center p-3" [ngStyle]="{'color':'black','font-size':'2rem'}">
            It starts with primary care</h1>
          <p class="card-header text-center p-3" [ngStyle]="{'color':'black','font-size':'1.2rem'}">
            Located right in your neighborhood, UCLA Health medical offices and clinics offer you convenient access to world-class care for your entire family.
          </p>
          <div class="mx-[3rem] text-center"
               [ngStyle]="{'background-color':'#2774ae', 'border-radius':'6px','padding':'0.8rem','margin-top':'1rem'}">
            <a href="#" class="text-[1rem] font-normal text-white">Find a Primary Care Office near you</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
