@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary-darkest {
    background-color: #003b5c;
}

.yellow-icon {
    color: #e6cd4c !important;
}

.disabled-icon {
    color: #9a9a97 !important;
}

.card-header {
    font-family: 'Times New Roman', serif !important;
    color: white;
}

.card-header-font {
    font-family: 'Times New Roman', serif !important;
}

.background {
    background: rgba(248, 242, 242, 0.96) !important;
}

.search-card {
  height: 15rem;
  width: 100%;
  background-color: #003b5c;
}

.search-input {
  padding-left: 1rem;
  height: 4rem;
  width: 35rem;
  border-radius: 6px;
  font-size: 1rem;
}

.search-icon {
  font-size: 2rem;
  color: #164cac;
}

.search-details-card {
  height: 150rem;
  width: 100%;
  background: rgb(248, 241, 241);
}
