@tailwind base;
@tailwind components;
@tailwind utilities;
html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.bg-primary-darkest {
    background-color: #003b5c;
}

.yellow-icon {
    color: #e6cd4c !important;
}

.disabled-icon {
    color: #9a9a97 !important;
}

.card-header {
    font-family: 'Times New Roman', serif !important;
    color: white;
}
