<div style="background: #ffffff;">
    <div class="mx-4 pt-3 w-[22rem]">
        <h2>Speciality</h2>
        <mat-form-field class="w-[22rem]">
            <input class="mb-3"
                    matInput
                    placeholder="Select or beign typing"
                    aria-label="Country"
                    [matAutocomplete]="auto"
                    [formControl]="countryCtrl"
                    required
            />
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option
                        *ngFor="let country of filteredCountry | async"
                        [value]="country.name"
                >
                    <span>{{ country.name }} | {{ country.code }}</span>
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
    </div>
</div>

