<mat-card class="w-full max-w-[72rem] overflow-hidden card-shadow mx-auto">
  <mat-card-content>
    <div class="flex flex-col md:flex-row gap-8">
      <div class="google-map w-[25rem]">
        <img
          src="assets/images/map-direction.jpeg"
          alt="Map direction"
          class="w-full h-[18rem] object-cover rounded"
        />
      </div>
      <div class="descriptions flex-1">
        <h1 class="text-2xl font-serif"
            [ngStyle]="{'font-family': 'Times New Roman','font-size': '2rem','margin-bottom': '2.5rem'}">
          Map and Directions
        </h1>
        <p class="text-base">
          There are valet parking services available to patients and visitors at Ronald Reagan UCLA <br/>
          Medical Center on Westwood Plaza. When leaving, you can retrieve your vehicle <br/>
          Lobby located on Level P.
        </p>

        <p class="text-base leading-relaxed">
          Patient drop-off is available via valet at the hospital entrance and at the emergency entrance. <br/>
          Alternate parking is available on campus.
        </p>

        <div class="flex flex-wrap gap-4">
          <div [ngStyle]="{'border':'1px solid green' ,'border-radius':'6px','padding':'0.8rem','margin-top':'1rem'}">
            <a href="#" class="text-base font-bold text-black p-6">Find a Doctor</a>
          </div>
          <div
            [ngStyle]="{'background': '#08648f','border':'1px solid green' ,'border-radius':'6px','padding':'0.8rem','margin-top':'1rem'}">
            <a href="#" class="text-base font-bold text-white p-6">Get Directions</a>
          </div>
        </div>

      </div>
    </div>
  </mat-card-content>
</mat-card>
